<% layout("/layouts/boilerplate") %>

    <body>
        <h3>Detail</h3>
        <ul>
            <li>
                <%= tool_details.title%>
            </li>
            <li>
                <%= tool_details.description%>
            </li>
            <li>
                <%= tool_details.img%>
            </li>
            <li>
                <%= tool_details.category%>
            </li>
        </ul>
        <a href="/tools/<%= tool_details._id%>/edit">Edit</a>
        <form action="/tools/<%= tool_details._id %>?_method=DELETE" method="post">
            <button>Delete Tool</button>
        </form>


        <div>
            <form>

                <div>
                    <label for="rating">Rating</label>
                    <input type="range" min="1" max="5" id="rating" name="comment[rating]">
                </div>

                <div>
                    <label for="comment">Comments</label>
                    <textarea name="comment[comments]" id="comment"></textarea>
                </div>
                <button>Add</button>

            </form>
        </div>
    </body>